# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build outputs
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE or editor files (VS Code example)
.vscode/

# Other potentially sensitive files or folders
.idea/
.project/
